@import '../../styles/variables';
@import '../../styles/mixins';

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
  .status-inputs {
    width: 30rem;
    margin-bottom: 1rem;
  }
  button {
    @include smaller-button;
    &:hover {
      @include smaller-button-hover-effect;
      animation: rubberBand 1s both 1;
    }
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

label {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.status-code-label {
  animation: bounceInLeft 1s ease-out 0s 1;
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;

    transform: translateX(-400px);
  }
  100% {
    opacity: 1;

    transform: translateX(0);
  }
}

.status-explaination-label {
  animation: bounceInButtom 1s ease-out 0s 1;
}

@keyframes bounceInButtom {
  0% {
    opacity: 0;

    transform: translateY(400px);
  }
  100% {
    opacity: 1;

    transform: translateY(0);
  }
}

input,
.status-input {
  transition: all 0.15s ease;
  @include input-settings;
  &:hover {
    @include input-hover-effect;
  }
  &:focus {
    @include input-focus-effect;
  }
}

.input-wrapper {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.status-explaination {
  height: 5rem;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-15px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(15px, 0, 0);
  }
}
