@import "../../styles/variables";
@import "../../styles/mixins";

.display-picture-form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 3rem;
}

